/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
th{
  color:rgb(6, 248, 248)
}
h1{
  color:rgb(112, 14, 45)
}
 

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
body{
  background-color:rgb(25, 174, 211)

}

