/* src/App.css */
.App {
  font-family: Arial, sans-serif;
  text-align: center;
  
}

table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
}
th{
  color:rgb(6, 248, 248)
}
h1{
  color:rgb(180, 138, 12)
}
h2{
  color:darkslateblue
}
 

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}
/* body{
  background-color:rgb(25, 174, 211)

} */

  body {
    background-image: url('/bgd4.jpg'); 
    background-size: cover;                
    background-repeat: no-repeat;          
    background-position: center;         
    height: 100vh;                         
    margin: 0;                             
  }

  


